# =========================
# System / Utils
# =========================
runpod
pdf2image
pillow
numpy
huggingface_hub

# =========================
# LLM Inference Engine
# =========================
vllm>=0.8.0
